:root{
    --coolbg: rgb(224, 223, 236);
}

body{

    background-color: var(--coolbg);
};


main{
    display: flex;
    

}

#navbar{
    position: fixed;
    margin-left:0 ;
    height: 100vh;
    background-color: aqua;
}

/* ***media*** */


@media (max-width:700px) {

    main{
    
        flex-direction: column;
        background-color: brown;
    }


} 